.mainhome {
  display: grid;
  grid-template-rows: 0.8fr 1.5fr 1.0fr;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 0px 0px;
  gap: 0px;
  font-family: var(--font-geist-sans);
}

.rowBackground {
  background-color: rgb(18, 18, 20);
  grid-row-start: 2;
  width: 100%;
  display: grid;
  grid-template-areas: "overlay"
}

.row {
  flex-direction: row;
  text-align: center;
  justify-items: center;
  width: 100%;
  padding: 40px 0px;
  transition: transform 1.2s ease;
  will-change: transform;
  grid-area: overlay;
}

.slidingIn {
  transform: translateX(0%);
  pointer-events: none;
}

.slidingOut {
  transform: translateX(200%);
  pointer-events: none;
}

.hidden {
  transform: translateX(-100%);
  transition: none;
}

.profile {
  display: flex;
  gap: 32px;
}

.profile .picture {
  object-fit: contain;
}

.profile h1 {
  font-size: 45px;
}

.profile h2 {
  font-size: 27px;
  font-weight: normal;
}

.profile h3 {
  font-size: 30px;
}

.profile .greeting {
  text-align: left;
  vertical-align: middle;
  line-height: 60px;
}

.profile .greeting .nextlink {
  text-align: right;
  margin-top: 0px;
  vertical-align: text-bottom;
  color: #838383ff;
}

.profile .greeting .nextlink:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.nextlink:hover {
  cursor: pointer;
}

.social_links {
  text-align: center;
  grid-row-start: 3;
  display: grid;
  gap: 30px;
  padding-top: 20px;
}

.social_links a {
  margin: 0px 25px;
  opacity: .5;
  transition: opacity .3s;
}

.social_links a:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 0px;
  }

  .profile {
    align-items: center;
  }

  .social_links {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.about {
  display: block;
  background-color: rgb(26, 26, 30);
  min-height: 100svh;
  height: 100svh;
  padding: calc(40px + 7svh) 0px 7svh 50px;
  font-family: var(--font-geist-sans);
}

.about .container {
  display: grid;
  height: calc(100% - 37px);
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
}

.about .block {
  height: 60%;
}

.about .block h2 {
  color: rgb(236, 236, 236);
}

.about .block p {
  font-size: 18px;
  color: rgb(209, 209, 209);
}

.about .introduce {
  padding: 10px 0px;
}

.projects {
  display: block;
  background-color: rgb(10, 10, 10);
  min-height: 100svh;
  padding: calc(40px + 7svh) 50px 7svh 50px;
}

.projects .container {
  display: grid;
  margin-top: 30px;
  gap: 30px;
}

.projects .container .block {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 150px fit-content(40%) 1fr;
  background-color: rgb(26, 26, 30);
  padding: 30px 20px;
  border-radius: 30px;
  transition: background .3s;
}

.projects .container .block .techStack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
  gap: 10px;
  align-items: center;
  direction: rtl;
}

.projects .container .block .techStack img {
  width: 100%;
  object-fit: contain;
  text-align: center;
}

.projects .container .block:hover {
  background-color: rgb(55, 55, 59);
  cursor: pointer;
}

.activities {
  background-color: rgb(26, 26, 30);
  min-height: 100svh;
  padding: calc(40px + 7svh) 50px 7svh 50px;
}

.activities .grid {
  justify-items: center;
}

.activities .grid .container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  gap: 50px;
  width: max(350px, 80svw);
  margin-left: 4%;
}

.activities .grid .container .block {
  background-color: rgb(10, 10, 10);
  padding: 10px;
}

.activities .grid .container .block .list {
  margin-top: 30;
  padding: 20px;
}

.activities .grid .container .block .list iframe {
  margin-bottom: 30px;
}

.activities .grid .container .block .list .iframely-container {
  height: 90px;
}